Markdown==2.6.11
pandas==0.23.4
matplotlib==3.0.2
future==0.17.1
setuptools==40.6.2
h5py==2.8.0
numpy==1.15.4
scipy==1.1.0
PyQt5==5.11.3
affine==2.2.1
Cython>=0.15.1
cx_Freeze==5.1.1
obspy==1.1.0
other==1.0.0
py2exe==0.9.2.2
pygmi==2.4.1
pytest==4.0.0
rasterio==1.0.10
Shapely==1.6.4.post2
