<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>iview example</title>
    <link rel="stylesheet" type="text/css" href=".\js\iview.css">
    <script type="text/javascript" src=".\js\vue.min.js"></script>
    <script type="text/javascript" src=".\js\iview.min.js"></script>
    <script type="text/javascript" src=".\js\jquery.js"></script>
</head>

<body>

    <div id="app">
        <i-Row :gutter="10">           
            <i-Col span="18">
                <div>
                    <i-Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80">
                     
                        <Form-Item label="潮汐值" prop="tidex">
                            <i-Select v-model="formValidate.tidex" class="select">
                                <i-Option v-for="item in List1" :value="item.value" :key="item.value">{{ item.label }}</i-Option>
                            </i-Select>
                        </Form-Item>
                        <Form-Item label="单位" prop="unit">
                            <i-Select v-model="formValidate.unit" class="select">
                                <i-Option v-for="item in List2" :value="item.value" :key="item.value">{{ item.label }}</i-Option>
                            </i-Select>
                        </Form-Item>
                    </i-Form>              
                </div>               
            </i-Col>
        </i-Row>
        
       <i-Row>
            <div align="center">            
            <img src="./js/img/nodeImg.png" height="90%" width="90%" >    
            </div>
       </i-Row>

    </div>
   
    <script>
        var Main = {
            data() {
                return {
                    List1: [
                    ],
                    List2: [                                               
                    ],
       
                    formValidate: {
                        tidex: null,                        
                        unit: null,    
                        newindex: "0",                                            
                    },

                    ruleValidate: {
                        tidex: [{
                            required: true,
                            message: '请选择观测值！',
                            trigger: 'change'
                        }],
                        
                        unit: [{
                            required: true,
                            message: '请选择数据单位！',
                            trigger: 'change'
                        }],
                 }
                }
            },
        }

        var Component = Vue.extend(Main)
        var vue = new Component().$mount('#app')

        ////保存数据到节点中
        function GetData() {
            var anObject = new Object();

            anObject.pars = new Object();
            anObject.pars.tidex = vue.$data.formValidate.tidex;
            anObject.pars.unit = vue.$data.formValidate.unit;
			
            anObject.allfields = true;

            anObject.names = new Object();
            anObject.names.tidex = vue.$data.formValidate.tidex;
            anObject.names.unit = vue.$data.formValidate.unit;
		
            return JSON.stringify(anObject);
        }

        //SetData由节点编辑器在窗口打开时，自动执行。
        function SetData(txt, fieldnames) {
            //如果获取前节点所有字段列表，设置 var itemname = fieldnames;
            //如果设置自定义下拉框列表，  设置例如：var itemname = "日潮;月潮;合成潮";

            //设置初始化潮汐列表
            var itemname = "日潮;月潮;合成潮";
            var itemvalue = "0;1;2";

            var fieldNameList = itemname.split(";");
            var fieldValueList = itemvalue.split(";");

             fieldNameList.forEach(function (value, index) {
                var item = new Object();
                item.label = fieldNameList[index];
                item.value = fieldValueList[index];

                vue.$data.List1.push(item);
            });

            //设置单位列表
            var itemname = "毫伽;微伽";
            var itemvalue = "0;1";

            var fieldNameList = itemname.split(";");
            var fieldValueList = itemvalue.split(";");

             fieldNameList.forEach(function (value, index) {
                var item = new Object();
                item.label = fieldNameList[index];
                item.value = fieldValueList[index];

                vue.$data.List2.push(item);
            });


            //赋值
            if (txt !== null && txt !== '') {
                var obj = JSON.parse(txt);

                if (obj !== null) {
                    vue.$data.formValidate.tidex = obj.pars.tidex;    
                    vue.$data.formValidate.unit = obj.pars.unit; 
                }
            }
        }
    </script>

    <script>
    </script>

</body>

</html>