<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>iview example</title>
    <link rel="stylesheet" type="text/css" href="..\js\iview.css">
    <script type="text/javascript" src="..\js\vue.min.js"></script>
    <script type="text/javascript" src="..\js\iview.min.js"></script>
    <script type="text/javascript" src="..\js\jquery.js"></script>
</head>

<body>

    <div id="app">
        <i-Row :gutter="10">           
            <i-Col span="18">
                <div>
                    <i-Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80">
						<Form-Item label="信号长度" prop="windowsize">
                            <i-Input
                                  v-model="formValidate.windowsize"
                                  placeholder="请输入数据窗口大小"
                            ></i-Input>
                        </Form-Item>
                       <Form-Item label="信号1" prop="Chan1">
                            <i-Select v-model="formValidate.Chan1" class="select">
                                <i-Option v-for="item in List1" :value="item.value" :key="item.value">{{ item.label }}</i-Option>
                            </i-Select>
                        </Form-Item>	
                       <Form-Item label="信号2" prop="Chan2">
                            <i-Select v-model="formValidate.Chan2" class="select">
                                <i-Option v-for="item in List1" :value="item.value" :key="item.value">{{ item.label }}</i-Option>
                            </i-Select>
                        </Form-Item>	
                       <Form-Item label="信号3" prop="Chan3">
                            <i-Select v-model="formValidate.Chan3" class="select">
                                <i-Option v-for="item in List1" :value="item.value" :key="item.value">{{ item.label }}</i-Option>
                            </i-Select>
                        </Form-Item>							
                    </i-Form>              
                </div>               
            </i-Col>
        </i-Row>
 
    </div>
   
    <script>
        var Main = {
            data() {
                return {
                    List1: [
					 
                    ],
                          
                    formValidate: {
                        windowsize: 100,  
                        Chan1: '正态分布', 
                        Chan2: '0-1分布', 
                        Chan3: '卡方分布', 						
                    },

                    ruleValidate: {
                           windowsize: [{
                            required: true,
                            message: '信号长度不能为空',
                            trigger: 'blur'
                        }],
						Chan1: [{
                            required: true,
                            message: '请选择信号1类型!',
                            trigger: 'change'
                        }],
						Chan2: [{
                            required: true,
                            message: '请选择信号2类型!',
                            trigger: 'change'
                        }],
						Chan3: [{
                            required: true,
                            message: '请选择信号3类型!',
                            trigger: 'change'
                        }],
                 }
                }
            },
        }

        var Component = Vue.extend(Main)
        var vue = new Component().$mount('#app')

        ////保存数据到节点中
        function GetData() {
            var anObject = new Object();

            anObject.pars = new Object();
			anObject.pars.Chan1 = vue.$data.formValidate.Chan1;
			anObject.pars.Chan2 = vue.$data.formValidate.Chan2;
			anObject.pars.Chan3 = vue.$data.formValidate.Chan3;
            anObject.pars.windowsize = vue.$data.formValidate.windowsize;

			
            //anObject.allfields = true;

            //anObject.names = new Object();
            //anObject.names.windowsize = vue.$data.formValidate.windowsize;
 
		
            return JSON.stringify(anObject);
        }

        //SetData由节点编辑器在窗口打开时，自动执行。
        function SetData(txt, fieldnames) {
            //如果获取前节点所有字段列表，设置 var itemname = fieldnames;
            //如果设置自定义下拉框列表，  设置例如：var itemname = "去线性;指数平滑;滑动平均;一阶差分;二阶差分;多项式拟合";

            //设置初始化算法类型列表
            //var itemname = "去线性;指数平滑;滑动平均;一阶差分;二阶差分;多项式拟合";
            var itemvalue = "正态分布;0-1分布;卡方分布;泊松分布;指数分布;整数";

            //var fieldNameList = itemname.split(";");
            var fieldValueList = itemvalue.split(";");

            fieldValueList.forEach(function (value, index) {
                var item = new Object();
                item.label = fieldValueList[index];
                item.value = fieldValueList[index];

                vue.$data.List1.push(item);
            });

   

            //赋值
            if (txt !== null && txt !== '') {
                var obj = JSON.parse(txt);

                if (obj !== null) {
                    vue.$data.formValidate.Chan1 = obj.pars.Chan1;
					vue.$data.formValidate.Chan2 = obj.pars.Chan2;
					vue.$data.formValidate.Chan3 = obj.pars.Chan3;
                    vue.$data.formValidate.WindowSize = obj.pars.WindowSize;
                }
            }
        }
    </script>

    <script>
    </script>

</body>

</html>